# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
dist/
*.egg-info/
poetry.lock
.venv/
.pylintrc

# Unit tests
tests/*.log
*.yaml

# Docs
/docs/_build
/docs/[Mm]ake*

# Others
.idea/
.vscode/
.vim/
